<ion-modal-view id="city_box">
    <div class="list">
        <div class="item item-divider">
            当前定位城市
            <i class="icon ion-close-circled badge" ng-click="closeModal()">&nbsp;</i>
        </div>
        <div  class="item item-divider">热门城市</div>
        <a href="" class="item">北京</a>
        <a href="" class="item" ng-click="selectCity('上海')">上海</a>
        <a href="" class="item">深圳</a>
        <a href="" class="item">广州</a>
        <div  class="item item-divider">B</div>
        <a href="" class="item">南京</a>
        <a href="" class="item">武汉</a>
        <a href="" class="item">郑州</a>
        <a href="" class="item">天津</a>
        <div  class="item item-divider">C</div>
        <a href="" class="item">南京</a>
        <a href="" class="item">武汉</a>
        <a href="" class="item">郑州</a>
        <a href="" class="item">天津</a>
    </div>
</ion-modal-view>